/* App.css */
.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff4e50, #fc913a, #ffd194, #4caf50, #00bcd4, #683bb7, #e64c3c, #e91e63);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite; /* Apply the animation */
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  